{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block head_css %}
    {{ super() }}
{% endblock %}

{% block head_js %}
    {{ super() }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td>Scheduler Status</td>
                <td>{{scheduler_status}}</td>
                <td><a href="{{url_for('SchedulerManagerView.pause')}}">pause</a></td>
                <td><a href="{{url_for('SchedulerManagerView.resume')}}">resume</a></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-hover">
        <thead>
            <th>Job Name</th>
            <th>Next run</th>
        </thead>
        <tbody>
    {% for job in scheduler_jobs %}
        <tr>
            <td>{{ job.job_name }}</td>
            <td>{{ job.job_next_start }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

{{ lib.lnk_back() }}
{% endblock %}

{% block tail_js %}
    {{ super() }}
{% endblock %}


